<!DOCTYPE html>
<html lang="zxx" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="img/ico.png">
        <title>BoolFlix</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css" integrity="sha512-QfDd74mlg8afgSqm3Vq2Q65e9b3xMhJB4GZ9OcHDVy1hZ6pqBJPWWnMsKDXM7NINoKqJANNGBuVRIpIJ5dogfA==" crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
      <div id="root">
        <!-- header e nav -->
        <header class="flex shadow">
          <div class="logo-container">
            <img src="img/logo.png" alt="">
          </div>
          <div class="navbar-menu1">
            <ul class="flex">
              <li class="white"><a href="index.html">Home</a></li>
              <li class="white">TV Shows</li>
              <li class="white">Movies</li>
              <li class="white">Recently Added</li>
              <li class="white">My List</li>
            </ul>
          </div>
          <div class="navbar-menu2 flex">
            <div class="">
              <input type="text" name="" value="" v-model="userSearch" placeholder="inizia a cercare film" v-on:keyup.enter="searchAPI();searchAPItvSeries();setFirst(allList[0]);">
              <button type="button" name="button" @click="searchAPI();searchAPItvSeries();setFirst(allList[0]);" >Search Movies</button>
            </div>
            <select class="select" v-model="userSelect" @click="userSearch = '';">
              <option value="">All</option>
              <option :value="element.id" v-for="(element,index) in genresList">{{element.name}}</option>
            </select>
            <select class="" v-model="changeView">
              <option value="moviestv">Movies + Tv Series</option>
              <option value="movies">Movies Only</option>
              <option value="tv">Series Only</option>
            </select>
            <ul class="flex">
              <li class="white">KIDS</li>
              <li class="white">DVD</li>
              <li class="white"><i class="fas fa-gift"></i></li>
              <li class="white"><i class="fas fa-bell"></i></li>
              <li class="white"><i class="fas fa-user-astronaut"></i></li>
            </ul>
          </div>
        </header>
          <!-- header e nav -->

          <!-- main sec -->
        <main class="flex">
          <div class="copertina flex" v-if="userSearch == '' || allList.length > 0">
            <img :src="imageNotAvailable(firstElement.poster_path)" alt="">
            <div class="misc">
              <div class="coverTitle">{{firstElement.title}}{{firstElement.name}}</div>
              <div class="coverOverview">{{firstElement.overview}}</div>
              <div class="coverLanguage">
                <img :src="'img/'+ langToFlag(firstElement.original_language) +'.png'" alt="">Language: |{{firstElement.original_language}}|
              </div>
            </div>
          </div>
          <div class="first-sight flex" v-if="userSearch == ''">
          <div class="titleone flex">
          <h2 class="white">Popoular Series </h2>
          </div>
          <div class="cover-container shadow flex white" v-for="element in listPopoularTV" @click="setFirst(element)">
            <div class="poster"> <img :src="imageNotAvailable(element.poster_path)" alt=""> </div>
          </div>
          <div class="titleone flex">
          <h2 class="white">Popoular Movies</h2>
          </div>
          <div class="cover-container shadow flex white" v-for="element in listPopoularMovies" v-if="userSearch == ''" @click="setFirst(element)">
          <div class="poster"> <img :src="imageNotAvailable(element.poster_path)" alt=""> </div>
          </div>
        </div>
          <div class="nothing" v-if="allList.length <= 0"><span class="white">We didn't find anything more, you're sure you wrote it right? Click on button 'Search' when you're ready</span></div>
          <div class="film-container shadow flex white" v-for="element in changeModel()" v-if="userSearch != '' || filterListByGenre(element) || userSelect == ''" @mouseenter="actorsbyID(element.id)" @click="setFirst(element)">
            <div class="poster"> <img :src="imageNotAvailable(element.poster_path)" alt=""> </div>
            <div class="title"><span>Title: </span>{{element.title}}{{element.name}}</div>
            <div class="original-title" v-if="element.original_title != ''"><span>Original Title: </span>{{element.original_title}}{{element.original_name}}</div>
            <div class="rating"><span>Vote: </span>
              <i class="fas fa-star" v-for="i in element.vote_average"></i><i class="far fa-star" v-for="i in (5 - element.vote_average)"></i>
            </div>
            <div class="overview">
            <span>Overview: </span>{{element.overview}}
            </div>
            <div class="language">
              <img :src="'img/'+ langToFlag(element.original_language) +'.png'" alt="">Language: |{{element.original_language}}|
            </div>
            <div class="misc">
              <span v-for="genreId in element.genre_ids">{{convertGenre(genreId)}}-</span><br>
              <span>With: {{actors}}</span>
            </div>
          </div>
        </main>
          <!-- main sec -->

      </div>
    <script src="js/script.js" charset="utf-8"></script>
    </body>
</html>
